<!-- Include common header -->
<% include header %>
    <div class="row content-area">
        <div class="span12">
            <a href="/movie/showmovie/<%= movie.movieId%>" style="font-size:24px;"><%= movie.name %></a>
            <span style="font-size:18px;"> / <strong>Users Favorited</strong></span>
        </div>
    </div>
    <hr>
    <% for(var i=0; i<favoritedUsers.length; i++){ %>

        <div class="row">
            <div class="span2">
              <% if(typeof favoritedUsers[i].userDp !== 'undefined' && favoritedUsers[i].userDp !== ''){ %>
                  <img src="<%=favoritedUsers[i].userDp%>" class='profile-img-thumb img-circle'>
              <% } %>
              <% if(typeof favoritedUsers[i].userDp === 'undefined' || favoritedUsers[i].userDp === ''){ %>
                  <div>
                    <img class="img-circle profile-img-thumb" src="/images/default_user.png"/>
                  </div>
              <% } %>
            </div>
            <div class="span4">
              <a href="/user/showuserprofile/<%=favoritedUsers[i].userId%>"><h4><%= favoritedUsers[i].userDisplayName %></h4></a>
              <div class="row">
                <div class="span1 elem-right-border text-center">
                  <strong><small> <%= favoritedUsers[i].moviesCount %> </small></strong> 
                  <div><small>Movies</small></div>
                </div>
                <div class="span1 text-center">
                  <strong><small> <%= favoritedUsers[i].followers.length %> </small></strong> 
                  <div><small>Followers</small></div>
                </div>
              </div>
            </div>
            <div class="span5">
            </div>
        </div>
        <hr>
    <% } %>
    
<% include createmovie %>
<% include uiscripts %>
<% include footer %>