<!-- Include common header -->
<% include header %>
    <div class="row content-area">
        <div class="span12">
                <% include userprofileheader %>
            <div class="row">
                <div class="span12 profile-label"><h4><%= title %></h4></div>
            </div>

            <% if(userProfile.userId == userData.userId && followers.length == 0) { %>
                <div class="no-result">
                    No Followers yet!! Don't worry just keep 
                    <a href="#createMovieModal" data-toggle="modal">
                        sharing movies
                    </a>
                    and people will start following you.
                </div>
            <% } %>

            <% for(var i=0; i< followers.length; i++) { %>
                <!-- Show list of followers-->
                <div class="row">
                    <div class="span2">
                        <% if(typeof followers[i].userDp !== 'undefined' && followers[i].userDp !== ''){ %>
                            <img src="<%=followers[i].userDp%>" class='profile-img-thumb img-circle'>
                        <% } %>
                        <% if(typeof followers[i].userDp === 'undefined' || followers[i].userDp === ''){ %>
                          <div>
                            <img class="img-circle profile-img-thumb" src="/images/default_user.png"/>
                          </div>
                      <% } %>
                    </div>
                    <div class="span4">
                      <a href="/user/showuserprofile/<%=followers[i].userId%>"><h4><%=followers[i].userDisplayName %></h4></a>
                      <div class="row">
                        <div class="span1 elem-right-border text-center">
                          <strong><small> <%= followers[i].moviesCount %></small></strong> 
                          <div><small>Movies</small></div>
                        </div>
                        <div class="span1 text-center">
                          <strong><small> <%= followers[i].followers.length %> </small></strong> 
                          <div><small>Followers</small></div>
                        </div>
                      </div>
                    </div>
                    <div class="span2">
                        <br>
                        <% if((followers[i].userId !== userData.userId)){ %>
                            <% if(followers[i].isFollowing === "y"){ %>
                                <button class="btn btn-info btn-small follow-unfollow" following="y" userId="<%=followers[i].userId%>">
                                    Following
                                </button>
                            <% } %>

                            <% if(followers[i].isFollowing === "n"){ %>
                                <button class="btn btn-secondary btn-small follow-unfollow" following="n" userId="<%=followers[i].userId%>">
                                    Follow
                                </button>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <hr>
            <% } %>
        </div>
    </div>

<% include createmovie %>
<% include uiscripts %>
<% include footer %>